{% extends 'base.html' %}


{% block navbar %}
  {% include 'partials/navbar.html' %}
{% endblock navbar %}

{% block title %}
    <div class="jumbotron">
    	<h1>Aviso Legal</h1>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
      <div id="title">Página  en construcción </div>
	</div>
{% endblock title %}

{% block content %}

{% endblock content %}

{% block footer %}
  {% include 'partials/footer.html' %}
{% endblock footer %}
