{% extends 'base.html' %}

{% block navbar %}
  {% include 'partials/navbar.html' %}
{% endblock navbar %}



{% block content %}

    <div class="jumbotron text-center p-5 mb-5" style="min-height:500px;">
    	<h1>Contacto</h1>
      <div id="title">Página  en construcción </div>
	</div>


{% endblock content %}

{% block footer %}
  {% include 'partials/footer.html' %}
{% endblock footer %}

<style>
  #title {
  text-align:center;
  font-size:40px;
  margin-top:40px;
  margin-bottom:-40px;
  position:relative;
  color:#22222;
}

</style>