{% extends 'base.html' %}

{% block navbar %}
  {% include 'partials/navbar.html' %}
{% endblock navbar %}


{% block content %}
<div class="container back_image">
  <div class="card border-0 shadow my-5 card_image">
    <div class="card-body p-5 text-center">
      <h1 class="font-weight-light texto-gris font-weight-bolder">No pierdas la pista de tus tareas!</h1>
      <p class="lead texto-gris font-weight-light">Esta app está pensada para puedas guardar todas tus tareas pendientes!</p>
      <p class="lead texto-gris font-weight-light">Empezamos...</p>
        <a href="{% url 'lista_tareas' %}"  class="btn btn-primary btn-lg"> Ir a  lista de tareas</a>
        <p class="lead my-2 texto-gris">Tu controlas tu tiempo!</p>
    </div>
  </div>
</div>

{% endblock content %}

{% block footer %}
  {% include 'partials/footer.html' %}
{% endblock footer %}
