{% extends 'base.html' %}

{% block title %}
    <div class="container my-5">
    	<h1>  <strong> Mis Tareas </strong> Pendientes</h1>
	</div>
{% endblock title %}

{% block content %}
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">

					<h2 id="form-title">LOGIN</h2>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" id="username" name="username" placeholder="Username..." class="form-control" aria-labelledby="username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" id="password" name="password" placeholder="Password..." class="form-control" aria-labelledby="username">
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
<!--				 				<input class="btn login_btn" type="submit" value="Login">-->
								<input class="btn btn-primary btn-lg login_btn  " type="submit" value="Aceptar">
				   			</div>
					</form>
				</div>

			{% if messages %}
				<div class="alert alert-danger mt-2" role="alert">
                {% for m  in messages %}
                    <p id="messages"> {{ m }}</p>
                {% endfor %}
				</div>
			{% endif %}
				<div class="mt-4">
					<div class="d-flex justify-content-center links ">
						No tienes una cuenta?
						<a href="{% url 'register' %}" class="ml-2 text-decoration-none text-primary" >
							<strong>Registrarse </strong>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>

{% endblock content %}