{% extends 'base.html' %}
{% block title %}
Modificar Tarea Pendiente -
{% endblock title %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{task_edit_form}}
<!--        <button type="submit">Update</button>-->
<!--        <div class="input-group mb-3">-->
<!--            <div class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Marked as completed">-->
<!--                {{task_edit_form.terminado}}-->
<!--            </div>-->
<!--            {{task_edit_form.nombre}}-->
<!--            {{task_edit_form.descripcion}}-->
<!--            {{task_edit_form.nombre}}-->
            <button type="submit" class="btn btn-lg btn-info">Update</button>
<!--        </div>-->
    </form>
{% endblock content %}