{% extends 'base.html' %}
{% block navbar %}
  {% include 'partials/navbar.html' %}
{% endblock navbar %}


<!--    <h1>Tareas Pendientes - App</h1>-->
<!--    <h2>Bienvenido {{request.user.username}}!</h2>-->

{% block content %}

<div class="container m-5">
  <div class="row justify-content-md-center">
<div class="card col-md-8 mb-3 ">
  <h3 class="card-header">Actualiza la tarea, {{request.user.username}}</h3>
    <div class="card-body">

    <form method="post">
        {% csrf_token %}
<!--        {{task_edit_form}}-->
        <div class="form-row">
            <div class="input-group col-md-6 mb-3">
              <label for="name">Nombre de la Tarea</label>
              <div class="input-group" id="name">
                {{task_edit_form.nombre}}
              </div>
            </div>


             <div class="input-group col-md-6 mb-3">
              <label>Descripcion de la tarea</label>
                {{task_edit_form.descripcion}}
            </div>
        </div>

        <div class="form-row">
            <div class="input-group col-md-3 mb-3">
                 <div class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">Marcar si la tarea está terminada</label>
                        <div class="input-group">
                          <span class="m-2">
                              {{task_edit_form.terminado}}
                          </span>
                        </div>
                     </div>
                </div>
            </div>

            <div class="input-group col-md-3 mb-3">
                <div class="form-row">
                    <label >fecha Creado</label>
                    <span class="m-2">
                        {{task_edit_form.f_creado}}
                    </span>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="form-row">
                    <label >fecha Entregado</label>
                    <span class="m-2">
                        {{task_edit_form.f_entregado}}
                     </span>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="form-row">
                  <label >fecha Final de entrega</label>
                    <span class="m-2">
                        {{task_edit_form.f_final}}
                     </span>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label>Seleciona el tipo de tarea</label>
                      {{task_edit_form.tipo_tarea}}
                  </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label>Seleciona una asignatura</label>
                    {{task_edit_form.asignatura}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">

              <div class="input-group" id="user">
                {{task_edit_form.usuario}}
              </div>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-success">Actualizar </button>
        <a href="{% url 'lista_tareas'%}" class="btn btn-danger btn-lg mx-3">Cancelar</a>

    </form>

    </div>
  </div>
 </div>
</div>
	<script>

		var nombre_tarea = document.getElementById('id_nombre')
		nombre_tarea.setAttribute("aria-labelledby", "id_nombre")

        var text_area = document.getElementById("id_descripcion");
		text_area.setAttribute("aria-labelledby", "id_descripcion")

		var check_terminado = document.getElementById("id_terminado");
		check_terminado.setAttribute("aria-labelledby", "id_terminado")

		var input_u = document.getElementById("id_usuario");
		input_u.setAttribute("aria-labelledby", "id_usuario")

		var f_final = document.getElementById("id_f_final");
		f_final.setAttribute("aria-labelledby", "id_f_final")

		var f_creado = document.getElementById("id_f_creado");
		f_creado.setAttribute("aria-labelledby", "id_f_creado")

		var f_entregado = document.getElementById("id_f_entregado");
		f_entregado.setAttribute("aria-labelledby", "id_f_entregado")

	</script>



{% endblock content %}

{% block footer %}
  {% include 'partials/footer.html' %}
{% endblock footer %}
