{% block footer %}

<!--<footer class="mt-5 py-3 footer text-center text-muted">-->


<!--<footer class="navbar fixed-bottom  bg-light text-muted mt-5">-->
<footer class="navbar  bg-light text-dark mt-5">
    <div class="footer_div text-center p-2 " style="width:100%;" >
    <p>mis tareas pendientes app
    <a class="mx-2" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"
    target="_blank" >
        <img alt="Licencia Creative Commons" style="border-width:0"
             src="/static/image/88x31.png"/>
    </a>
        <a href="https://github.com/tspeu/app_tareas_py_proyect" target="_blank"
           rel="noreferrer noopener" class="text-dark">
            jm_b 2020
            <i class="fab fa-github-alt"></i>

        </a>
    </p>
    </div>
</footer>
{% endblock footer %}
